@import '../mixins';

.filter-selection-text-box {
  display: flex;
  flex-direction: row;
  margin-left: var(--spacing);
  min-width: 0;
  border: var(--contrast-border);
  border-radius: var(--border-radius);
  background: var(--box-background-color);
  color: currentColor;
  font-size: var(--font-size);
  font-family: var(--font-family-sans-serif);
  align-items: center;
  flex-grow: 1;

  &.focus-within {
    @include textboxish-focus-styles;
  }
  
  .text-box-component {
    input {
      border: none;
      background: none;
      box-shadow: none;
      padding-left: 0px;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  > button {
    padding: 3px 2px;
    padding-left: 5px;
    padding-right: 0;
    border: none;
    height: auto;
    background: none;

    &:focus-visible {
      outline-offset: 0px;
    }

    &:hover {
      color: var(--text-secondary-color);
      border: none;
      box-shadow: none;
      background: none;
    }
  }

  .filter-options-applied {
    button {
      border-radius: none;
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      margin-right: 5px;

      span {
        background-color: #ddf4ff;
        color:#0969da;
        line-height: 18px;
        display: inline-block;
      }
    }
  }
  
}
